@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&family=Russo+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  background: linear-gradient(180deg, #521d0d 0%, #2d1511 48.5%, #521d0d 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  color: hsl(0, 0%, 100%);
}

.nav {
  width: 100%;
  height: auto;
  padding: 18px 0;
  position: fixed;
  z-index: 1000;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 15px;
  color: white;
  border: 1px solid white;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  text-decoration: none;
}

.ham {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background-color: #251311;
  padding: 17px 100px 4px 100px;
  border-radius: 0 0 30px 30px;
}

@media (max-width: 767px) {
  .ham {
    padding: 17px 40px 4px 40px;
  }

  .button {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .nav {
    min-height: 74px;

    .button {
      display: none;
    }

    .nav-logo {
      display: none;
    }
  }
}

.ham i {
  font-size: 50px;
  display: flex;
}

.hamburger {
  display: none;
}

.hamburger:checked~.nav-menu {
  top: 82px;
}

.nav-menu {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 26px 56px;
  background-color: #251311;
  position: absolute;
  top: -10000%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 100;

  a:last-child {
    border-bottom: none;
  }
}

.nav-menu a {
  font-size: 25px;
  font-family: "Russo One", sans-serif;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  padding-top: 81.5px;
}

.titel p {
  font-size: 21.5vw;
  font-family: "Russo One", sans-serif;
  text-align: justify;
  text-transform: uppercase;
  line-height: 0.8;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  word-spacing: 100vw;
  margin: 0;
}

.titel span {
  font-size: 25vw;
}

.uitleg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.bier {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 33px;
  flex-wrap: wrap;
}

.afbeeldingbier {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16.5px);
  min-width: 350px;
  aspect-ratio: 1/1;

  p {
    padding: 0.5rem 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.verhaal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 33px;
  flex-wrap: wrap;
}

.afbeeldingverhaal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16.5px);
  align-items: flex-end;
  min-width: 350px;

  p {
    padding: 0.5rem 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 575px) {

  .afbeeldingverhaal,
  .afbeeldingbier {
    min-width: unset;
  }
}

.tekstbier {
  flex-basis: calc(50% - 16.5px);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 46px;
    margin: 0;
  }

  p {
    font-family: "Ruda", sans-serif;
    font-size: 16px;
    margin: 0;
  }
}

.tekstverhaal {
  flex-basis: calc(50% - 16.5px);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 46px;
    margin: 0;
  }

  p {
    font-family: "Ruda", sans-serif;
    font-size: 16px;
    margin: 0;
  }
}

@media (max-width: 991px) {

  .tekstbier,
  .tekstverhaal,
  .afbeeldingbier,
  .afbeeldingverhaal {
    flex-basis: 100%;
  }
}

@media (max-width: 991px) {
  .verhaal {
    flex-direction: column-reverse;
  }
}

@media (max-width: 991px) {

  .bier,
  .verhaal {
    gap: 0px;
  }
}

@media (max-width: 991px) {
  .afbeeldingbier {
    align-items: flex-end;
  }
}

@media (max-width: 991px) {
  .uitleg {
    gap: 45px;
  }
}

.productje {
  width: 100%;
  height: auto;
  margin-top: 50px;

  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 70px;
    margin-bottom: 28px;
  }

  .productje__tekst {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 28px;

    p {
      flex-basis: calc(50% - 10px);
      min-width: 500px;
      text-align: justify;
    }
  }

  @media (max-width: 1199px) {
    .productje__tekst {
      p {
        flex-basis: 100%;
        min-width: 100%;
      }
    }
  }

  .productje__tags {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;

    >div {
      display: flex;
      flex-direction: row;
      gap: 9px;
      flex-wrap: nowrap;
    }
  }
}

.locaties {
  width: 100%;
  height: auto;
  margin-top: 60px;

  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 70px;
    margin-bottom: 58px;
  }
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 37px;
  row-gap: 60px;
}

.locaties__card {
  height: 364px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  p {
    font-family: "Russo One", sans-serif;
    font-size: 12px;
    margin-top: 10px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.call_to_action {
  width: 100%;
  height: 157px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../img/cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    span {
      font-family: "Russo One", sans-serif;
      font-size: 50px;
      color: #fff;
      text-transform: uppercase;
    }

    hr {
      margin: 0;
      border: none;
      width: 2px;
      height: 80px;
      background-color: #fff;
      display: inline-block;
      opacity: 1;
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .call_to_action {
    a {
      span {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 499px) {
  .call_to_action {
    a {
      gap: 30px;

      span {
        font-size: 20px;
      }
    }
  }
}

footer {
  width: 100%;
  min-height: 350px;
  height: auto;
  background: linear-gradient(101deg, #000 -15.75%, #582a2a 133.09%);
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    height: 100%;
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  footer {
    .container {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .footer__links {
    flex-basis: calc(50% - 24px);
  }

  .footer__middel {
    flex-basis: calc(100% - 24px);
    order: 3;
  }

  .footer__rechts {
    flex-basis: calc(50% - 24px);
  }
}

@media (max-width: 575px) {
  footer {
    .container {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  .footer__rechts {
    h3 {
      text-align: center !important;
    }
  }
}

.footer__links {
  flex-basis: calc(20% - 24px);

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: #fff;
        font-family: "Russo One", sans-serif;
        font-size: 20px;
      }
    }
  }
}

.footer__middel {
  flex-basis: calc(60% - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  h2 {
    font-family: "Russo One", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
  }

  form {
    label {
      display: none;
    }

    input {
      height: 52px;
      width: 293px;
      background-color: #fff;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input::placeholder {
      font-family: "Russo One", sans-serif;
      font-size: 24px;
      color: #C9C9C9;
      text-transform: uppercase;
      margin: 0;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(3px);
    }

    button {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #000;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
      width: 37px;
      height: 37px;
      background-color: #303030;
    }

    >div {
      position: relative;
    }
  }
}

.footer__rechts {
  flex-basis: calc(20% - 24px);

  h3 {
    font-family: "Russo One", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
  }
}

.copyright {
  width: 100%;
  height: auto;
  background-color: #3b0c0c;

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
}

@media (max-width: 767px) {
  .copyright {
    .container {
      flex-direction: column;
    }
  }
}

.copyright_r {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  span {
    font-family: "Russo One", sans-serif;
    font-size: 17px;
  }
}

.copyright_icons {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;

    li {
      margin: 0;
      padding: 0;

      a {
        font-size: 25px;
        color: #fff;
      }
    }
  }
}

.copyright_logo {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.u-in-view {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.o-aos {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.o-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 54, 54, 0.5);
  backdrop-filter: blur(2px);
  z-index: 500;
  display: none;
}

.infinite-scroll {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}